@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(26,46,70);
  height: 10vh;
}
.logo {
  padding-left: 20px;
  font-family: 'Peralta', cursive;
  font-size: 36px;
  color:aliceblue;
  text-decoration: none;
}
.navbarList {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.navbarItems {
  color: aliceblue;
  margin: 20px;
  display: inline; 
  text-decoration: none; 
}

.navbarItems:hover {
  color: aliceblue;
  margin: 20px;
  display: inline; 
  text-decoration: underline; 
  font-weight: bold;
}
.search-bar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 20px;
}

.form{
  margin: 20px;
  align-items: center;
}

.updatedResults{
  margin: 20px;
}

.mainWindow {
  margin: 30px;
}
